@font-face {
  font-family: 'capture_itregular';
  src: url('../fonts/capture_it-webfont.woff2') format('woff2'),
        url('../fonts/capture_it-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  
}
/* @media screen and (prefers-reduced-motion: reduce) {
	html {
		scroll-behavior: auto;
	}
} */
/*Estilo global*/
h1 {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
  font-size: 2.5rem;
  font-weight: 700;
  letter-spacing: -2px;
  color: #000;
  text-transform: uppercase;
}

body {
  margin: 0;
}
.divider {
  border: 2px solid #fe4918;
  display: block;
  width: 100px;
  margin: auto;
}
h3 {
  font-weight: 500;
  letter-spacing: -2px;
  font-size: 1.8rem;
  text-align: center;
}
img {
  max-width: 100%;
}
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}


fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}


textarea {
  resize: none;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/*header*/
.contenedor-header {
  /*background-color: #222;*/
  background-color: rgba(19, 19, 22, 0.9);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  max-width: 100%;
}
.logo-principal {
  width: 120px;
  margin: 15px 0 15px 20px;
}
.img-header {
  height: 100vh;
  max-width: 100%;
  background-image: url(../img/fender-guitar-005.jpg);
  background-size: cover;
  background-attachment: fixed;
  margin-top: 104px;
}
.img-header h1 {
 color: #fe4918;
  font-size: 2.6em;
  font-family: 'capture_itregular';
  letter-spacing:2px;
}

.img-header h1 span h3{
  letter-spacing: 1px;
}
@media only screen and (min-width: 600px) {

.img-header h1 {
  font-size: 5.2em;
}

}
/*Navegacion*/
.navegacion-principal {
  display: none;
  border-top: 2px solid #fe4918;
}

.navegacion-principal a {
  color: #ffff;
  display: block;
  text-align: center;
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: 400;
  margin-bottom: 10px;
  font-style: italic;
  transition: all ease-in .3s;
  padding: 5px;
}
.navegacion-principal a:hover {
  background-color: #fe4918;

}
/* .navegacion-principal a:last-child {
  border: 1px solid #fe4918;
  margin: 0 10px 10px 10px;
} */
.navegacion-principal ul {
  padding: 5px;
}
@media only screen and (min-width: 600px) {
  .navegacion-principal {
    display: inline-block;
    border-top: none;
  }
  .navegacion-principal a {
    margin-right: 10px;
    margin-left: 10px;  
    display: inline-block;
    transition: all 0.5s ease-out;
  }
  .navegacion-principal a:first-child {
    margin-left: 30px;
  }
  .navegacion-principal a:hover {
    color: #fe4918;
    background-color: transparent;
  }
  .navegacion-principal a::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background: #fe4918;
    transition: width 0.5s;
  }
  .navegacion-principal a:hover::after {
    width: 100%;
  }
  .navegacion-principal a:last-child {
    border: none;
  }

}
/*menu movil*/
div.menu-movil {
  width: 60px;
  display: block;
  float: right;
  text-align: right;
  margin: 40px 10px 30px 0;
}
div.menu-movil:hover {
  cursor: pointer;
}
div.menu-movil span {
  height: 4px;
  width: 40px;
  margin-bottom: 6px;
  background-color: #fe4918;
  display: block;
}
@media only screen and (min-width: 600px) {
  div.menu-movil {
    display: none;
  }
}
.slideshow {
  margin: 5% 0;
}
.slide-text {
  color: #fff !important;
  font-family: 'Oswald' !important;
}


/*Nosotros */
.nosotros {
  max-width: 100%;
}
@media only screen and (min-width: 600px){
  .contenedor-nosotros p:first-child{
    padding: 0 20px;
  }

}
.contenedor-nosotros {
  padding: 0 10px;
  font-size: 1.3rem;
  color: #000;
}
.contenedor-nosotros p {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  text-align: center;
  color: #4d4d4d;
}
.circle {
  font-size: 80px;
  text-align: center;
  background-color: #f57e5e;
  width: 125px;
  height: 125px;
  border-radius: 50%;
  margin: 0 auto;
  
}
.circle i:hover {
  color: #fff;
}
.nosotros-box {
  margin: 30px 0;

}
.nosotros-box p {
  margin: 0;
}
@media only screen and (min-width: 768px) {
  .nosotros-box {
    float: left;
    width: 33.3%;
  }
  .nosotros-box article {
    padding: 0 50px;
  }
  
}

/*Contacto */
.contacto {
  max-width: 100%;
}
.contenedor-contacto {
  padding: 0 10px;
}

/*Mapa*/
.contenedor-mapa p {
  margin: 0 0 20px 0;
  font-size: 1.4rem;
  font-weight: 400;
  text-align: center;
}

#map {
  height: 400px;
  width: 100%;
}
@media only screen and (min-width: 680px) {
  #map {
    height: 600px;
    
  } 

}


/* Formulario*/
.contenedor-formulario {
  font-size: 1.4rem;
  margin-top: 50px;
  text-align: center;
  padding: 10px 40px 10px 40px;
  /*background-color: rgba(19, 19, 22, 0.9);*/
  /*background-size: cover;*/
  border-radius: 15px;
  background: url(../img/fender-guitar-021.jpg) repeat-x  fixed ;


}

.contenedor-formulario h3 {
  margin-bottom: 20px;
  color: #ffffff;

}
.contenedor-formulario form label {
  font-size: 1.3rem;
  font-weight: 200;
  color: #ffffff;
  display: inline-block;
  margin: 5px 0 5px 0;
}
.contenedor-formulario form input {
  border: 2px solid #ddd;
  color: #fff;
  width: 100%;
  height: 40px;
  background-color: transparent;
}
.contenedor-formulario form textarea {
  border: 2px solid #ddd;
  color: #ffff;
  width: 100%;
  background-color: transparent;
}

.contenedor-formulario form label span {
  font-size: 0.9rem;
}
.campo {
  margin: 35px 0;
}
@media only screen and (min-width: 768px) {
  .first-row .campo {
    float: left;
    width: 33.3%;
  }
  .first-row .campo input {
    width: 85%;
  }
  .second-row .campo textarea {
    width: 95%;

  }
}
.recaptcha-box {
  display: flex;
  justify-content: center;
}

#boton {
  color: #fff;
  font-weight: 400;
  background-color: transparent;
  border: 2px solid #fe4918;
  display: block;
  margin: 10px auto;
  border-radius: 2px;
  transition: ease-in-out 0.6s;
  height: 60px;
  width: 50%;
  cursor: pointer;
}
#boton:hover {
  background-color: #fe4918;

}
@media only screen and (min-width: 768px){
  #boton {
    width: 15%;
  
  }
}
/*servicios*/

.contenedor-servicios {
  padding: 0 10px;

}
.servicio-box {
  margin: 70px 0;
  border: 1px solid rgba(127, 127, 127, 0.16);
  box-shadow: 0 1px 4px rgba(127, 127, 127, 0.11);
  cursor: pointer;
  padding: 10px;
}
.servicio-box p {
  font-family: 'Lato', sans-serif;
  color: #4d4d4d;
  font-weight: 300;
  text-align: center;
  padding: 0 20px;
}

.img-servicio {
  position: relative;
}

.boton {
  text-align: center;
  
}
.boton input {
  background-color: #fe4918;
  padding: 10px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 95%;
  transition: background-color ease-in .3s ;
}
.boton input:hover {
  background-color: #c8431f;

}
.centrar-texto {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.servicio-box:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 20px #5d4c94;
  transition: all .3s ease;
}
@media only screen and (min-width: 768px) {
  .contenedor-servicios {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1.2rem;
  }

}
@media only screen and (min-width: 992px) {
  .contenedor-servicios {
    grid-template-columns: repeat(3, 1fr);

  }

}
@media only screen and (min-width: 768px) {
  .servicio-box {
    height: 380px;
    position: relative;
  }
  .boton {
    position: absolute;
    top: 95%;
    left: 50%;
    transform: translate(-50%, -95%);
    width: 95%;
  }
}
@media only screen and (min-width: 880px) {
  .servicio-box {
    height: 390px;
    position: relative;
  }
  .boton {
    position: absolute;
    top: 95%;
    left: 50%;
    transform: translate(-50%, -95%);
  }
}
@media only screen and (min-width: 900px) {
  .servicio-box {
    height: 410px;
    position: relative;
  }
  .boton {
    position: absolute;
    top: 95%;
    left: 50%;
    transform: translate(-50%, -95%);
  }
}
@media only screen and (min-width: 992px) {
  .servicio-box {
    height: 400px;
    position: relative;
  }
  .boton {
    position: absolute;
    top: 95%;
    left: 50%;
    transform: translate(-50%, -95%);
  }
}
@media only screen and (min-width: 1400px) {
  .servicio-box {
    height: auto;
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
  }
  .boton {
    position: static;
     transform: none;
     margin: 3% 0;
  }
}
/*popup*/
.overlay {
  background-color: rgba(19, 19, 22, .3);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 100%;
  z-index: 100000000;
  display: none;
}

.popup {
  background-color: #ffffff;
  box-shadow: 0px 0px 20px 5px #5d4c94;
  border-radius: 3px;
  width: 90%;
  height: 90%; 
  padding: 10px;
  overflow: scroll;
}
.popup .boton-cerrar-popup {
    display: block;
    text-align: left;
    font-size: 25px;
    transition: .3s ease all;
    color: #BBBB;
    margin: 10px;
}
.popup .boton-cerrar-popup:hover{
  color: #000;
}
#popup-titulo-servicio {
 font-family: 'Lato', sans-serif;
 color: #4d4d4d;
 font-weight: 600;
 margin: 0 0 50px 0;
 font-size: 1.6rem;
}
.popup p, .popup ul {
  font-family: 'Lato', sans-serif;
  font-size: 1.2rem;
}
#popup-precio {
  font-family: 'Lato', sans-serif;
  color: #4d4d4d;
  font-weight: 600;
  margin: 0 0 20px 0;
  font-size: 1.6rem;
}
#parrafo-descripcion {
  margin: 50px 0;
}
#img-popup {
  border-radius: 3px;
}
@media only screen and (min-width: 768px) {
  
  .popup {
    width: 60%;
  
  }
  #img-popup {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
  }
  .popup-descripcion-precio {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
  }
}
/* footer */
footer {
  max-width: 100%;
}

.contenedor-footer {
  height: auto;
  background-color: #222;
  position: relative;
}

.redes-sociales {
  font-size: 1.4rem;
  padding: 0 20px;
  text-align: center;
}
.redes-sociales a {
  font-size: 1.8rem;
  color: #fff;
  margin: 0 5px;
}
.redes-sociales h3 {
  color: #fff;
  margin: 0;
}
.redes-sociales h3 span {
  color: #fe4918;
}
.pagos-aceptados {
  font-size: 1.4rem;
  color: #fff;
  text-align: center;
}
.pagos-aceptados i {
  font-size: 2.2rem;
}
.copyright {
  color: #fff;
  text-align: center;
}
.contacto-desarrollador {
  text-align: right;
  margin-top: 10%;
}
@media only screen and (min-width: 480px) {
  .contacto-desarrollador {
    margin-top: 5%;
  }
  
}

.contacto-desarrollador p {
  font-size: .9em;
  margin: 0 1% 0 0;
  padding: 0;
  color: #4d4d4d;
}
/*Logo fijo de redes */
.logo-redes {
  display: inline-block;
  position: fixed;
  bottom: 56px;
  right: 4px;
  z-index: 1000;
}


.logo-redes a img {
  width: 56px;
  height: 64px;
}

.hidden,
[hidden] {
  display: none !important;
}

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}
.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

.invisible {
  visibility: hidden;
}
.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}
@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}
@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
